---
import Layout from "../layouts/Layout.astro"
import Quote from "../components/Quote.astro"
---
<Layout title="About Me" description="About nam and his life">
  <div class=" w-screen">
    <div class="w-full flex justify-center p-8 md:p-4 flex-col items-center gap-2">
      <div class="sm:w-2/3 lg:w-1/2 w-full">
        <h1 class="text-2xl sm:text-3xl font-bold text-fg ok mb-3">
          What is <span class="text-primary font-serif"> The Interim? </span>
        </h1>
        <p class=" leading-[2.1rem] text-lg text-fg">Hi, I am chadcat7, the pilot of your spaceship and an above average hobbyist programmer. You have reached my personal site, The Interim, a small area in this vast universe where time has no meaning. Feel free to live here as long as want. Here are some facts about me -</p>
        <ul class="list-disc leading-[2.1rem]  ml-4 my-4 text-fg text-lg">
          <li>16 years of age. Been on and off programming since 5 years now</li>
          <li>Knows frontend web dev, amateur in backend dev and dsa. Have knowledge of making discord bots</li>
          <li>Used to learn the piano for some ~ 9 years (Trinity Grade 5)</li>
          <li>Writes poetry and blogs in my free time. Myabe kinda good in ricing.</li>
        </ul>
        <h1 class="text-2xl sm:text-3xl font-bold text-fg ok mb-3">
          My <span class="text-primary font-serif"> Setup </span>
        </h1>
        <ul class="list-disc leading-[2.1rem]  ml-4 my-4 text-fg text-lg">
          <li>Operating System - nixos</li>
          <li>Terminal - wezterm</li>
          <li> Window Manager - awesomewm (main) // swayfx // hyprland (rarely used)</li>
          <li>Editor - neovim</li>
        </ul>
        <Quote />
      </div>
    </div>
  </div >

</Layout>
<style>
</style>
