---
import Layout from "../layouts/Layout.astro"
import Quote from "../components/Quote.astro"
---
<Layout title="About Me" description="About nam and his life">
  <div class=" w-screen">
    <div class="w-full flex justify-center p-8 flex-col items-center gap-2">
      <div class="sm:w-2/3 lg:w-1/2 w-full">
        <h1 class="text-2xl sm:text-3xl font-bold text-fg ok mb-3">
          What is <span class="text-primary font-serif"> Interim? </span>
        </h1>
        <p class=" leading-[2.2rem] text-lg text-fg">Hi, I am chadcat7, the pilot of your spaceship and an above average hobbyist programmer. We have reached our destination, The Interim, a small area in this vast universe where time has no meaning. Feel free to live here as long as want. For your entertainment there are multiple archives containing mediocre poems and articles on tech. You can also view my experiments that mostly went wrong</p>
        <h1 class="text-2xl sm:text-3xl font-bold text-fg mt-8 ok mb-3">
          My Tech <span class="text-primary font-serif"> Stack </span>
        </h1>
        <ul class="ml-8 list-disc leading-[2.2rem] text-fg text-lg">
          <li>Programming Languages: Python, JavaScript, Lua, HTML5, CSS3, Sass, Golang </li>
          <li>Frameworks: TailwindCSS, DaisyUi, UnoCSS, ExpressJs, Flask, DiscordJS, discord.py, Bootstrap, React, NextJs, Astro</li>
          <li>Tools: Heroku, GitHub, Git, Vercel, Netlify, Cloudflare, Neovim, Vite</li>
          <li>Databases: MongoDB, Firebase, SQL</li>
          <li>Technologies & Other Skills: Frontend Development, Backend Development, Full-Stack Developement, Discord Bot Development, Wordpress</li>
        </ul>
        <h1 class="text-2xl sm:text-3xl font-bold text-fg mt-8 ok mb-3">
          My <span class="text-primary font-serif"> Hobbies </span>
        </h1>
        <p class="text-lg leading-[2.2rem] text-fg mb-4">
          You know, I've got a handful of hobbies that I really enjoy. First off, there's the piano. It's just a fun way for me to unwind and express myself. I'm not trying to become the next Mozart or anything, but hitting those keys and creating some music can be pretty satisfying. I also learned piano for about 10 years and have gotten grade 5 diploma from Trinity School Of College.
        </p>
        <p class="text-lg leading-[2.2rem] text-fg mb-4">
        </p>
        <p class="text-lg leading-[2.2rem] text-fg mb-4">
          Listening to songs is another thing I'm into. I listen to all sorts of stuff, from catchy pop tunes to indie tracks and everything in between. Music just adds a bit of flavor to life, you know? My current favourite is Memory Reboot
        </p>
        <p class="text-lg leading-[2.2rem] text-fg mb-4">
          Oh, and programming? Yeah, I dabble in it. I'm not some coding prodigy, but I like tinkering with it from time to time. It's like solving little puzzles, and when I make something work, it feels pretty cool. Programming is my escape from the tedious life of a high school student.
        </p>
        <Quote />
      </div>
    </div>
  </div >

</Layout>
<style>
</style>
